block content 
  main.contant.main
    section.flex.flex-col.justify-center.items-center.py-4
      h2.title 服務項目
      section.flex.flex-col.p-3.my-12.gap-4
        .flex.justify-center.text-center(class="lg:text-3xl md:text-2xl text-base")
          span(class="lg:w-48 md:w-32 w-20") 商業店面
          span.mx-1 |
          span(class="lg:w-48 md:w-32 w-20") 住宅空間
          span.mx-1 |
          span(class="lg:w-48 md:w-32 w-20") 3D製圖
        .flex.justify-center.text-center(class="lg:text-3xl md:text-2xl text-base")
          span(class="lg:w-48 md:w-32 w-20") 室內設計
          span.mx-1 |
          span(class="lg:w-48 md:w-32 w-20") 裝修工程
          span.mx-1 |
          span(class="lg:w-48 md:w-32 w-20") 衛浴整修
      h2.title 服務流程
      section.flex.flex-col.my-12
        .grid(class="grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8") 
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_1.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto  1.初步洽談
            div.pt-4
              p.text-xl.font-thin.tracking-wide 了解個案現況及業主需求，解說設計作業流程、設計費、工程管 理費及付款方式說明。
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_2.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto 2.現場勘查
            div.pt-4
              p.text-xl.font-thin.tracking-wide 對工地現場及周遭環境，進行了解及勘察丈量，並拍照記錄相關資料，作為設計參考依據。
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_3.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto 3.平面配置
            div.pt-4
              p.text-xl.font-thin.tracking-wide 依需求定訂設計風格及初步平面規劃，平面配置細節討論及確認。
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_4.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto 4.設計合約簽訂
            div.pt-4
              p.text-xl.font-thin.tracking-wide 建材、材質討論與建議、設計細節討論，簽訂設計合約並收取設計費，繪製3D立體圖、設計施工圖、工程預算確認及工程進度討論。
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_5.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto 5.工程合約簽訂
            div.pt-4
              p.text-xl.font-thin.tracking-wide 工程進度及施工期限確認，付款方式說明，簽訂工程合約。
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_6.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto 6.施工
            div.pt-4
              p.text-xl.font-thin.tracking-wide 依據工程合約、報價單品項及進度表來進行工程，依合約付款方式收取階段費用。
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_7.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto 7.完工驗收及交屋
            div.pt-4
              p.text-xl.font-thin.tracking-wide 業主驗收交屋，收取工程尾款費用。
          div
            .flex.gap-4(class="sm:flex-col")
              div.flex.justify-center
                img(src="/images/service/ServiceFlow_8.png", alt="", class="w-[60px] sm:w-32")
              div.flex.items-center.justify-center
                h3.font-medium.text-2xl.my-auto 8.結案及保固
            div.pt-4
              p.text-xl.font-thin.tracking-wide 完成個案並展開保固服務。
      .flex.justify-center.items-center.py-6
        .py-2.px-4.rounded-full.bg-grayer-200.shadow-blur 
          a(href=baseUrl+"contact.html")  連絡我們
