block content 
  main.contant.main
    section(class="grid md:grid-cols-2 grid-cols-1 gap-6 py-14")
      .relative
        .swiper.mySwiper2 
          .swiper-wrapper
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-1.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-1.png", alt="")
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-2.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-2.png", alt="") 
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-3.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-3.png", alt="") 
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-4.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-4.png", alt="") 
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-5.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-5.png", alt="") 
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-6.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-6.png", alt="") 
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-7.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-7.png", alt="") 
            .swiper-slide 
              a.fancyapps(href="/images/Portfolio/workplace/workplace-8.png" data-fancybox="gallery")
                img(src="/images/Portfolio/workplace/workplace-8.png", alt="") 
        div(thumbsSlider="" class="swiper mySwiper3 py-1")
          .swiper-wrapper
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-1.png", alt="") 
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-2.png", alt="") 
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-3.png", alt="") 
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-4.png", alt="") 
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-5.png", alt="") 
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-6.png", alt="") 
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-7.png", alt="") 
            .swiper-slide
              img(src="/images/Portfolio/workplace/workplace-8.png", alt="") 
          .swiper-button-next 
          .swiper-button-prev 
      article.relative
        h2.py-6.font-medium.text-4xl.text-center  新營透天-蔡公館
        p.text-center.font-thin.text-xl 我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容。
        
