block content 
  main.contant.main
    section.flex.flex-col.justify-center.items-center.py-4
      h2.font-medium.text-3xl.py-3 作品案例
      .relative.py-4 
        img(src="/images/Portfolio/workplace/workplace-3.png", alt="")
        .workplace-bg
          h3.uppercase.text-6xl.font-bold.text-white.text-center all
          a(href=baseUrl+"workplace-list.html",).workplace-link 全部
          .h-1.w-24.border-b-2.border-white
      .relative.py-4 
        img(src="/images/Portfolio/workplace/workplace-3.png", alt="")
        .workplace-bg
          h3.text-6xl.font-bold.text-white.text-center Business Space
          a(href=baseUrl+"workplace-list.html",).workplace-link 商業空間
          .h-1.w-24.border-b-2.border-white
      .relative.py-4 
        img(src="/images/Portfolio/workplace/workplace-3.png", alt="")
        .workplace-bg
          h3.text-6xl.font-bold.text-white.text-center Residential Design
          a(href=baseUrl+"workplace-list.html",).workplace-link 住宅設計
          .h-1.w-24.border-b-2.border-white
        
