block content 
  main.contant
    .relative
      .w-full.mySwiper.h-full.overflow-hidden
        .swiper-wrapper
          .swiper-slide
            img(src="/images/Banner/1.png", alt="")
          .swiper-slide
            img(src="/images/Banner/2.png", alt="")
          .swiper-slide
            img(src="/images/Banner/3.png", alt="")
          .swiper-slide
            img(src="/images/Banner/4.png", alt="")
          .swiper-slide
            img(src="/images/Banner/5.png", alt="")
        .swiper-button-next.text-white 
        .swiper-button-prev.text-white
        .swiper-pagination.active-white
    article(class="mx-auto px-12 tracking-widest text-base max-w-2xl lg:max-w-6xl lg:flex lg:gap-14")
      div.flex-1
        h2.text-2xl.font-bold 關於冬森
        .py-6
          .pb-4.leading-7
            strong.font-normal.mr-2 冬
            span.font-extralight 天的光影豐富漸變的軌跡，構築清新脫俗的生活場景，為家中的每一份子，規劃出獨一無二的夢想住所。
          .pb-4.leading-7
            strong.font-normal.mr-2 森
            span.font-extralight 林的靜謐、空靈，賦予空間一抹安定的力量，符合人性與溫潤舒適的環境。

      div.flex-1
        h2.text-2xl.font-bold 公司簡介
        .py-6
          .pb-4.leading-7
            span.font-extralight 我們是由一群具有熱忱的年輕團隊組成， 聆聽業主的想法與意見，注重與客人間的互動，對於我們來說是一種『態度』也是一種『責任』
          .pb-4.leading-7
            span.font-extralight 每個空間都乘載著屬於他自己的故事，我們能提供良好的設計規劃，跳脫傳統框限的思維，發揮無限創意，使設計更貼近生活所需，共同創造生活的想像與藍圖。
          

