footer.border-t.border-gray-200.flex.flex-col.items-center.p-6
  h2.text-2xl.font-bold.mb-4 冬森空間設計
  ul.text-xl.items-center.justify-center.text-center.flex-wrap.mx-auto(class="flex")
    li.p-1 TEL: 0938123340
    li.p-1(class="hidden sm:block") |
    li.p-1 dongsendesign@gmail.com
    li.p-1(class="hidden md:block") |
    li.p-1 周一至周六 AM09:00~PM06:00
  ul.flex.mt-1  
    li.p-2
      a(href="#") 
        img.w-14.h-14(src="/images/ICON/fb.png", alt="facebook")
    li.p-2
      a(href="#") 
        img.w-14.h-14(src="/images/ICON/ig.png", alt="ig")
    li.p-2
      a(href="#") 
        img.w-14.h-14(src="/images/ICON/line.png", alt="facebook")
    li.p-2
      a(href="#") 
        img.w-14.h-14(src="/images/ICON/google.png", alt="facebook")
