header.fixed.top-0.w-full.flex.bg-white.z-10.shadow-header
  nav.px-6.flex.justify-between.flex-1.items-center.h-24.mb-1
    a(href=baseUrl)
      img(src="/images/LOGO/LOGO-min.png" width="180px" alt="冬森空間設計")
    button.menu-btn.text-gray-500.w-14.flex.flex-col.justify-between.h-10.p-2.border.border-gray-200.rounded.items-center(class="md:hidden")
      span.menu-bar
      span.menu-bar
      span.menu-bar
    ul.text-2xl.font-medium.text-gray-800(class="hidden md:flex")
      li.nav-bar(class="hover:text-gray-600")
        a.px-4.py-4(href="/") 公司簡介
      li.nav-bar(class="hover:text-gray-600")
        a.px-4.py-4(href=baseUrl+"about.html") 服務流程
      li.nav-bar(class="hover:text-gray-600") 
        a.px-4.py-4(href=baseUrl+"workplace.html") 作品案例
      li.nav-bar(class="hover:text-gray-600")
        a.px-4.py-4(href=baseUrl+"contact.html") 聯絡我們
    

      

