.sidebar.-translate-x-full
  nav.flex.flex-col.gap-4
    .flex.justify-end
      button.close-btn x
    ul.flex.flex-col.gap-4.text-2xl.items-center
      li.py-4(class="hover:text-gray-400") 
        a(href="/") 公司簡介
      li.py-4(class="hover:text-gray-400")
        a(href="") 服務流程
      li.py-4(class="hover:text-gray-400")
        a(href="") 作品案例
      li.py-4(class="hover:text-gray-400")
        a(href="") 聯絡我們